<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 welcome-wrapper-one">

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 healthcare-reform-wrapper welcome-wrapper-two">
            <div class="welcome-icon-wrapper">
                <p><i class="fa fa-newspaper-o" aria-hidden="true"></i></p>
            </div><br>
            <h3>Healthcare Reform</h3>
        </div>
        <div class="col-md-3 provider-directory-wrapper welcome-wrapper-two">
            <div class="welcome-icon-wrapper">
                <p><i class="fa fa-sitemap" aria-hidden="true"></i></p>
            </div><br>
            <h3>Provider Directory</h3>
        </div>
        <div class="col-md-3 improve-your-health-wrapper welcome-wrapper-two">
            <div class="welcome-icon-wrapper">
                <p><i class="fa fa-heartbeat" aria-hidden="true"></i></p>
            </div><br>
            <h3>Improve Your Health</h3>
        </div>
        <div class="col-md-3 about-us-wrapper welcome-wrapper-two">
            <div class="welcome-icon-wrapper">
                <p><i class="fa fa-bell-o" aria-hidden="true"></i></p>
            </div><br>
            <h3>About Us</h3>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 welcome-wrapper-three">
            <h3>Hot Topics</h3><br>
            <ul id="hot-topic-list">
                <li ng-repeat="topic in topics">
                    <div class="topic-wrapper" ng-style="{'background-image':'url({{topic.url}})'}">
                        <p class="topic-topic">{{topic.topic}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 welcome-wrapper-four">
            <h3>A few reasons why our members love us</h3>
            <ul id="reasons-list">
                <li>Comlimentary membership at Pro-Health Fitness centers</li>
                <li>Award-winning customer service</li>
                <li>A large and growing provider network</li>
                <li>World-Class Fitness glass classes</li>
                <li>Upfront cost with no hidden fees</li>

            </ul>
        </div>
    </div>
</div>